.main{
    color: #3776ed;
    text-align: center;
  }
  .side{
    color: block;
    text-align: right;
  }
  #under{
    color:blue;
    text-align:center;
  }
  .line{
    border-bottom: 1px solid black;
  }
  #view{
    color : blue;
  }
  #id{
    padding:10px;
    color:orange;
    text-align:center;
  }
  